CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.bin
.vscode/
lucid

.cmake/
.idea/
ninja_deps
ninja_log
build.ninja
